{% extends '@UIHtml/Default/layout.html.twig' %}

{% block title %}Cart{% endblock %}

{% block cartCount %}{{ cartCount }}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Product name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Price with tax</th>
                    <th>Qty</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    {% for id, item in form.items %}
                        <tr>
                            <td>{{ products[id].product.name }}</td>
                            <td>{{ products[id].product.categoryName }}</td>
                            <td>{{ products[id].lineTotal | price }}</td>
                            <td>{{ products[id].lineTotalWithTax | price }} ({{ products[id].product.taxName }})</td>
                            <td>{{ form_widget(item.qty) }}</td>
                            <td>{{ form_widget(item.delete) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                {{ form_widget(form.submit) }}
            </p>
        {{ form_end(form) }}
    </div>
{% endblock %}